@import 'media-queries';
@import 'utilities';

.homepage{
    max-width: 95%;
    margin: 0 auto;
}

.homepage_container{
    @extend %align-center;
    background-image: url("../images/pancake-background.jpg");
    background-size: cover;
    height: 50rem;
    width:100%;

    &--main{
        justify-content: flex-end; 
        
    }
}

.gallery{
    margin-top: 5em;
    text-align: center;

    &__container{
       display: grid;
       grid-template-rows: 4(1fr);
       align-items: center;
       justify-items: center;
       margin: 0 auto; 
        
       &--image{
           display: flex;
           flex-wrap: wrap;
           width: 100%;
           height: 30rem
       }

       .product_image{
           max-width: 20em;
       }
    
    }


}